@import "../utils/mixins.module.scss";

.chatContainer {
  min-height: 100vh;
  margin-top: 20px;

  .chatApiKey {
    margin-left: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
  }

  .modelBoxes {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 20px;
    margin-bottom: 20px;

    .modelDisplay {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: #fff;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 30px;
      width: 200px;
    }

    .modelChat {
      display: flex;
      align-items: center;
      gap: 10px;

      .ScaleGenLogo {
        object-fit: contain;
        width: 20px;
        height: auto;
        color: black;
      }

      h3 {
        font-weight: 400;
        font-size: 20px;
      }
    }
  }

  .chatBox {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;

    .chatWindow {
      width: 75%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-height: 90vh;

      .chatHistory {
        height: 80%;
        overflow-y: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: $secondaryBackground;

        .chatMessage {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .userText,
          .aiText {
            max-width: 80%;
            word-wrap: break-word;
          }

          .userText {
            align-self: flex-end;
            background-color: rgb(225, 221, 221);
            color: black;
            border-radius: 16px;
            padding: 8px 12px;
            margin-bottom: 4px;
            width: fit-content;
            margin-top: 15px;
            margin-left: 60px;

            p {
              line-height: 25px;
            }
          }

          .aiText {
            align-self: flex-start;
            background-color: transparent;
            margin-top: 15px;
            width: fit-content;
            margin-right: 60px;

            p {
              line-height: 25px;
              white-space: pre-wrap;
            }
          }
        }
      }

      .chatForm {
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        height: 20%;
        position: relative;
        background-color: $secondaryBackground;

        textarea {
          padding: 8px 12px;
          resize: none;
          height: 100px;
          width: 94%;
          border: none;
          outline: none;
          background-color: $secondaryBackground;
          font-size: $fontSize;
        }

        .icons {
          display: flex;
          gap: 8px;
          position: absolute;
          bottom: 10px;
          right: 10px;

          .icon {
            font-size: 24px;
            cursor: pointer;
          }
        }
      }
    }

    .settingsPanel {
      width: 25%;
      padding: 20px;
      background-color: #2d87d9;
      border: 1px solid #ccc;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      min-height: 90vh;
      background-color: $primary;

      .settingsApiInput {
        margin-bottom: 20px;

        input {
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          font-size: $fontSize;
        }
      }

      .modelSelector {
        margin-bottom: 20px;

        h3 {
          margin-bottom: 10px;
          margin-left: 5px;
          font-weight: 400;
          font-size: 16px;
          color: white;
          font-weight: 500;
        }

        .modelSelect {
          width: 100%;
          padding: 10px 12px;
          border-radius: 16px;
          border: none;
          outline: none;
        }
      }

      .modifications {
        margin-top: 30px;

        h3 {
          margin-bottom: 10px;
          font-weight: 400;
          font-size: 16px;
          color: white;
          font-weight: 500;
        }

        .sliderControl {
          margin-bottom: 20px;

          .sliderControlHead {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            span {
              background-color: #ecebeb;
              border: none;
              border-radius: 10px;
              padding: 5px 25px;
            }
          }

          label {
            display: block;
            margin-bottom: 5px;
            color: white;
            font-weight: 500;
          }

          input[type="range"] {
            width: 100%;

            &::-webkit-slider-runnable-track {
              background-color: white;
              border-radius: 10px;
            }
          }

          span {
            display: block;
            text-align: center;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
