@mixin popupCenter() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

@mixin popupContent() {
  background-color: #fff;
  width: 30%;
  margin: auto;
  top: 30%;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba(189, 185, 185, 0.75);

  @media (max-width: 600px) {
    width: 80%;
  }

  @media ((min-width: 600px) and  (max-width: 1030px)) {
    width: 50%;
  }
}

$primary: #2e87d9;
$selectedPrimary: #0c66b9;
$secondaryBackground: #f4f4f4;
$white: #ffffff;
$borders: #e4e4e4;
$error: #d32f2f;
$grey: #ababab;
$lightBlue: #d8ecff;

$fontSize: 17px;

@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
